

<!doctype html>
<!--[if lt IE 7]>		<html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>			<html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>			<html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
<link rel="stylesheet" type="text/css" href="/web_salamun/assets/f89018b4/bootstrap/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="/web_salamun/assets/f89018b4/css/bootstrap-yii.css" />
<link rel="stylesheet" type="text/css" href="/web_salamun/assets/f89018b4/css/jquery-ui-bootstrap.css" />
<script type="text/javascript" src="/web_salamun/assets/893faa68/jquery.js"></script>
<script type="text/javascript" src="/web_salamun/assets/f89018b4/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/web_salamun/assets/f89018b4/js/bootstrap-noconflict.js"></script>
<script type="text/javascript" src="/web_salamun/assets/f89018b4/bootbox/bootbox.min.js"></script>
<script type="text/javascript" src="/web_salamun/assets/f89018b4/notify/notify.min.js"></script>
<script type="text/javascript" src="/web_salamun/assets/893faa68/jquery.ba-bbq.js"></script>
<title>RSAU Dr. M. Salamun | RSAU Dr. M. Salamun - NewsList Site</title>

	<!-- fav and touch icons -->
  <link rel="apple-touch-icon" sizes="57x57" href="/web_salamun/themes/hospital/assets/favicon/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/web_salamun/themes/hospital/assets/favicon/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/web_salamun/themes/hospital/assets/favicon/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/web_salamun/themes/hospital/assets/favicon/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/web_salamun/themes/hospital/assets/favicon/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/web_salamun/themes/hospital/assets/favicon/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/web_salamun/themes/hospital/assets/favicon/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/web_salamun/themes/hospital/assets/favicon/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/web_salamun/themes/hospital/assets/favicon/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="/web_salamun/themes/hospital/app/favicon/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/web_salamun/themes/hospital/assets/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/web_salamun/themes/hospital/assets/favicon/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/web_salamun/themes/hospital/assets/favicon/favicon-16x16.png">
  <link rel="manifest" href="/web_salamun/themes/hospital/assets/favicon/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/web_salamun/themes/hospital/assets/favicon/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">

	<!-- CSS -->
	<link rel="stylesheet" href="/web_salamun/themes/hospital/assets/css/bootstrap.min.css">
	<link rel="stylesheet" href="/web_salamun/themes/hospital/assets/css/bootstrap-datetimepicker.min.css">
	<link rel="stylesheet" href="/web_salamun/themes/hospital/assets/css/normalize.css">
	<link rel="stylesheet" href="/web_salamun/themes/hospital/assets/css/font-awesome.min.css">
	<link rel="stylesheet" href="/web_salamun/themes/hospital/assets/css/owl.carousel.css">
	<link rel="stylesheet" href="/web_salamun/themes/hospital/assets/css/prettyPhoto.css">
	<link rel="stylesheet" href="/web_salamun/themes/hospital/assets/style.css">
	<link rel="stylesheet" href="/web_salamun/themes/hospital/assets/css/color.css">
	<link rel="stylesheet" href="/web_salamun/themes/hospital/assets/css/responsive.css">
	<link rel="stylesheet" href="/web_salamun/themes/hospital/assets/css/transitions.css">
	<script src="/web_salamun/themes/hospital/assets/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>

  <!-- Custom CSS -->
  <link rel="stylesheet" href="/web_salamun/themes/hospital/assets/css/custom.css">
</head>
	<body class="th-home">

		<!--************************************
				Wrapper Start
		*************************************-->
		<div id="th-wrapper" class="th-wrapper th-haslayout">
			<!--************************************
					Header Start
			*************************************-->
			<header id="th-header" class="th-header th-haslayout">
				<div class="th-topbar">
					<div class="container">
						<div class="row">
							<div class="col-sm-12 col-xs-12">
								<strong class="th-logo">
									<a href="/web_salamun/index.php?r=site/index"><img src="/web_salamun/themes/hospital/assets/images/logo.png" alt="image description"></a>
								</strong>
								<div class="th-rightarea">
									<div class="th-topinfo">
										<ul class="th-emails">
											<li><i class="fa fa-envelope-o"></i><a href="#">info@rsausalamun.com</a></li>
											<li><a href="#">(022) 2032 090</a></li>
											<li><i class="fa fa-life-ring"></i><a href="#">Help Desk</a></li>
										</ul>
										<ul class="th-socialicons">
											<li><a href="#"><i class="fa fa-facebook"></i></a></li>
											<li><a href="#"><i class="fa fa-twitter"></i></a></li>
											<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
											<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
										</ul>
										<div class="dropdown th-themedropdown">
																						<div id="language-selector">
													<form action="/web_salamun/index.php?r=site/newsList&amp;category=1" method="post">    <div id="language-select">
        <b>Bahasa (ID)</b> | <a href="#" id="yt0">English (EN)</a>    </div>
</form>											</div>
										</div>
									</div>
									<ul class="th-addressbox">
										<li>
											<span class="th-addressicon"><i class="fa fa-map-marker"></i></span>
											<div class="th-addresscontent">
												<strong>Bandung - Indonesia</strong>
												<span>Jl. Ciumbuleuit No. 203</span>
											</div>
										</li>
										<li>
											<span class="th-addressicon"><i class="fa fa-phone"></i></span>
											<div class="th-addresscontent">
												<strong>(022) 2032 090</strong>
												<span>Call Center</span>
											</div>
										</li>
										<li>
											<a class="th-btnappointment" href="http://rsausalamun.xyz" target="_blank">
												<i class="fa fa-bell-o"></i>
												<em>PENDAFTARAN</em>
											</a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="th-navigationarea">
					<div class="container">
						<div class="row">
							<div class="col-xs-12">
								<nav id="th-nav" class="th-nav">
									<div class="navbar-header">
										<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#th-navigation" aria-expanded="false">
											<span class="sr-only">Toggle navigation</span>
											<span class="icon-bar"></span>
											<span class="icon-bar"></span>
											<span class="icon-bar"></span>
										</button>
									</div>
									<div id="th-navigation" class="collapse navbar-collapse th-navigation">
										<ul>
											<li class="th-active"><a href="/web_salamun/index.php?r=site/index">Beranda</a></li>

											<li class="th-hasdropdown">
												<a href="javascript:void(0);">Profil</a>
												<ul class="th-menudropdown">
													<li><a href="/web_salamun/index.php?r=site/aboutUs">Tentang Kami</a></li>
													<li><a href="/web_salamun/index.php?r=site/histories">Sejarah</a></li>
													<li><a href="/web_salamun/index.php?r=site/facilities">Sarana & Fasilitas</a></li>
													<li><a href="/web_salamun/index.php?r=site/services">Layanan Kesehatan</a></li>
												</ul>
											</li>

											<li class="th-hasdropdown">
												<a href="javascript:void(0);">Pelayanan</a>
												<ul class="th-menudropdown" style="width:260px!important">
													<li><a href="/web_salamun/index.php?r=site/healthServices">Pelayanan Kesehatan</a></li>
													<li><a href="/web_salamun/index.php?r=site/pricing">Tarif & Penjamin</a></li>
													<li><a href="/web_salamun/index.php?r=site/mediceTeam">Staff Medis</a></li>
												</ul>
											</li>

											<li class="th-hasdropdown">
												<a href="javascript:void(0);">Berita</a>
												<ul class="th-menudropdown">
																																										<li><a href="/web_salamun/index.php?r=site/newsList&category=1">Info Salamun</a></li>
																																																								<li><a href="/web_salamun/index.php?r=site/newsList&category=2">Info Kesehatan</a></li>
																																																								<li><a href="/web_salamun/index.php?r=site/newsList&category=3">Pengumuman</a></li>
																																							</ul>
											</li>

											<li class="th-hasdropdown">
												<a href="javascript:void(0);">Informasi</a>
												<ul class="th-menudropdown" style="width:260px!important">
													<li><a href="/web_salamun/index.php?r=site/doctorList">Jadwal Dokter</a></li>
													<li><a href="/web_salamun/index.php?r=site/indicator">Indikator Mutu</a></li>
												</ul>
											</li>

											<li class="th-hasdropdown">
												<a href="/web_salamun/index.php?r=site/contactUs">Kontak</a>
											</li>
										</ul>
									</div>
								</nav>
								<div class="th-widgetsearch">
									<form action="#" method="post">
										<fieldset>
											<input type="search" name="search" class="form-control" placeholder="Cari...">
											<button type="submit"><i class="fa fa-search"></i></button>
										</fieldset>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</header>
			<!--************************************
					Header End
			*************************************-->

			<div id="content">
	<!--************************************
		Home Slider Start
*************************************-->
<div class="th-innerpagebanner th-haslayout th-parallaximg" data-appear-top-offset="600" data-parallax="scroll" data-image-src="/web_salamun/themes/hospital/assets/images/bgparallax/bgparallax-05.jpg">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 col-xs-12">
				<div class="th-pagetitle">
					<h1>Info Salamun</h1>
				</div>
				<ol class="th-breadcrumb">
					<li><a href="#">Home</a></li>
					<li><a href="#">Berita</a></li>
					<li><span>Info Salamun</span></li>
				</ol>
			</div>
		</div>
	</div>
</div>
<!--************************************
		Home Slider End
*************************************-->

<!--************************************
				Main Start
		*************************************-->
		<main id="th-main" class="th-main th-haslayout" style="padding:120px 0">
			<div class="container">
				<div class="row">
					<div id="th-twocolumns" class="th-twocolumns">
						<div class="col-md-9 col-sm-8 col-xs-12">
							<div id="th-content" class="th-content">
								<div  class="th-posts th-poststwo th-postslist">
									<article class="th-post">
                    <div id="yw0" class="list-view">
<div class="summary">Menampilkan 1-2 dari 2 hasil</div>

<div class="items">
<div class="row">
  <div class="col-md-4" style="padding-top:20px">
    <figure class="th-postimg">
      <a href="#"><img class="img-responsive" src="/web_salamun/images/news/1517310647_HD_01.jpg" alt="imaage description"></a>
    </figure>
  </div>
  <div class="col-md-8">
    <div class="th-postcontent" style="padding-left:0px; padding-top:10px">
        <ul class="th-postmate" style="width:100%; right:0; top:10px; position:inherit; margin:10px 0;">
          <li>
            <a href="#">
              <i class="fa fa-calendar"></i>
              <span>23 Oct, 2016</span>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-user"></i>
              <span>Admin</span>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-comments-o"></i>
              <span>16 Comments</span>
            </a>
          </li>
        </ul>

        <div class="th-posttitel">
          <h3><a href="/web_salamun/index.php?r=site/newsDetail&id=2">Unit Pelayanan Cuci Darah RSAU dr. M. Salamun</a></h3>
        </div>
        <div class="th-description">
          Dalam rangka meningkatkan pelayanan kesehatan kepada pasien penderita kelainan fungsi ginjal dan darah, RSAU Dr. M. Salamun pada hari Kamis tanggal 4 April 2013 secara resmi membuka layanan baru Unit Hemodialisis (Cuci Darah).

&nbsp;

Pelayanan ...
        </div>
      </div>
  </div>
</div>
<div class="row">
  <div class="col-md-4" style="padding-top:20px">
    <figure class="th-postimg">
      <a href="#"><img class="img-responsive" src="/web_salamun/images/news/1516639836_Android01.png" alt="imaage description"></a>
    </figure>
  </div>
  <div class="col-md-8">
    <div class="th-postcontent" style="padding-left:0px; padding-top:10px">
        <ul class="th-postmate" style="width:100%; right:0; top:10px; position:inherit; margin:10px 0;">
          <li>
            <a href="#">
              <i class="fa fa-calendar"></i>
              <span>23 Oct, 2016</span>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-user"></i>
              <span>Admin</span>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-comments-o"></i>
              <span>16 Comments</span>
            </a>
          </li>
        </ul>

        <div class="th-posttitel">
          <h3><a href="/web_salamun/index.php?r=site/newsDetail&id=1">Daftar Online Salamun Versi 1.0</a></h3>
        </div>
        <div class="th-description">
          Aplikasi Daftar Online Salamun ini merupakan aplikasi yang dapat anda pasang/instal pada smartphone atau gadget anda. Aplikasi ini akan memudahkan anda dalam melakukan pendaftaran berobat melalui smartphone android anda. Aplikasi ini akan secara lang...
        </div>
      </div>
  </div>
</div>
</div>
<div class="keys" style="display:none" title="/web_salamun/index.php?r=site/newsList&amp;category=1"><span>2</span><span>1</span></div>
</div>									</article>

								</div>
							</div>
						</div>
						<div class="col-md-3 col-sm-4 col-xs-12">
							<aside id="th-sidebar" class="th-sidebar">
								<div class="th-widget th-widgetcategories th-widgetcount th-leficon">
									<div class="th-widgettitle">
										<span class="th-widgeticon">
											<i class="fa fa-folder-o"></i>
										</span>
										<h3>Categories</h3>
									</div>
									<ul>
										<li>
											<a href="#">
												<span>Emergency Care</span>
												<span>(13)</span>
											</a>
										</li>
										<li>
											<a href="#">
												<span>Surgical Center</span>
												<span>(17)</span>
											</a>
										</li>
										<li>
											<a href="#">
												<span>Cancer Cure</span>
												<span>(21)</span>
											</a>
										</li>
										<li>
											<a href="#">
												<span>Intesive Treatments</span>
												<span>(16)</span>
											</a>
										</li>
										<li>
											<a href="#">
												<span>Talented Doctors</span>
												<span>(23)</span>
											</a>
										</li>
										<li>
											<a href="#">
												<span>Blood Bank 24/7</span>
												<span>(09)</span>
											</a>
										</li>
									</ul>
								</div>

								<div class="th-widget th-widgetarchives th-widgetcount th-leficon">
									<div class="th-widgettitle">
										<span class="th-widgeticon">
											<i class="fa fa-folder-o"></i>
										</span>
										<h3>Archives</h3>
									</div>
									<ul>
										<li>
											<a href="#">
												<span>EOctober 2016</span>
												<span>(28)</span>
											</a>
										</li>
										<li>
											<a href="#">
												<span>September 2016</span>
												<span>(13)</span>
											</a>
										</li>
										<li>
											<a href="#">
												<span>August 2016</span>
												<span>(18)</span>
											</a>
										</li>
										<li>
											<a href="#">
												<span>July 2016</span>
												<span>(32)</span>
											</a>
										</li>
										<li>
											<a href="#">
												<span>June 2016</span>
												<span>(16)</span>
											</a>
										</li>
										<li>
											<a href="#">
												<span>May 2016</span>
												<span>(11)</span>
											</a>
										</li>
									</ul>
								</div>
                							</aside>
						</div>
					</div>
				</div>
			</div>
		</main>
		<!--************************************
				Main End
		*************************************-->
</div><!-- content -->

			<!--************************************
				Footer Start
			*************************************-->
			<footer id="th-footer" class="th-footer th-haslayout">
			  <div class="th-footertopbar">
				<div class="container">
				  <div class="row">
					<ul class="th-fservices">
					  <li>
						<span class="th-fserviceicon"><i class="fa fa-ambulance"></i></span>
						<div class="th-contentbox">
						  <strong>Ambulance <span>Service</span></strong>
						</div>
					  </li>
					  <li>
						<span class="th-fserviceicon"><i class="fa fa-user-md"></i></span>
						<div class="th-contentbox">
						  <strong>Intensive <span>Care Unit</span></strong>
						</div>
					  </li>
					  <li>
						<span class="th-fserviceicon"><i class="fa fa-heartbeat"></i></span>
						<div class="th-contentbox">
						  <strong>24/7 Emergency <span>Admissions</span></strong>
						</div>
					  </li>
					</ul>
				  </div>
				</div>
			  </div>
			  <div class="th-footermiddlebox th-sectionspace th-haslayout th-parallaximg" data-appear-top-offset="600" data-parallax="scroll" data-image-src="/web_salamun/themes/hospital/assets/images/bgparallax/bgparallax-03.jpg">
				<div class="container">
				  <div class="row">
					<div class="th-fcols">
					  <div class="col-md-3 col-sm-6 col-xs-6">
						<div class="th-fcol">
						  <strong class="th-logo">
							<a href="#">
							  <img src="/web_salamun/themes/hospital/assets/images/flogo.png" alt="image description">
							</a>
						  </strong>
						  <ul class="th-faddressinfo">
							<li>
							  <span class="th-addressicon"><img src="/web_salamun/themes/hospital/assets/images/icon/img-08.png" alt="image description"></span>
							  <address>Jalan Ciumbuleuit No. 203 <br> Bandung - Indonesia</address>
							</li>
							<li>
							  <span class="th-addressicon"><img src="/web_salamun/themes/hospital/assets/images/icon/img-09.png" alt="image description"></span>
							  <div class="th-phone">
								<span>(022) 2032090 <br>Call Center</span>
							  </div>
							</li>
							<li>
							  <span class="th-addressicon"><img src="/web_salamun/themes/hospital/assets/images/icon/img-10.png" alt="image description"></span>
							  <div class="th-phone">
								<span><a href="mailto:rsausalamun@gmail.com">info@rsausalamun.com</a></span>
							  </div>
							</li>
						  </ul>
						</div>
					  </div>
					  <div class="col-md-3 col-sm-6 col-xs-6">
						<div class="th-fcol">
						  <div class="th-borderheading">
							<h3>About Us</h3>
						  </div>
						  <div class="th-description">
							<p>Above the law sunny days sweeping the clouds away fateful trip</p>
							<p>That started my way to where the air is sweet can you tell me how to get how to get to sesame street.</p>
						  </div>
						  <ul class="th-socialicons th-socialiconsround">
							<li><a href="#"><i class="fa fa-facebook-f"></i></a></li>
							<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
							<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
							<li><a href="#"><i class="fa fa-twitter"></i></a></li>
						  </ul>
						</div>
					  </div>
					  <div class="col-md-3 col-sm-6 col-xs-6">
						<div class="th-fcol">
						  <div class="th-borderheading">
							<h3>Sitemap</h3>
						  </div>
						  <ul class="th-usefullinks">
							<li><a href="/web_salamun/index.php?r=site/index">Home</a></li>
							<li><a href="#">Tentang Kami</a></li>
							<li><a href="#">Berita</a></li>
							<li><a href="#">Informasi</a></li>
							<li><a href="#">Download</a></li>
							<li><a href="#">Kontak Kami</a></li>
						  </ul>
						</div>
					  </div>
					  <div class="col-md-3 col-sm-6 col-xs-6">
						<div class="th-fcol">
						  <div class="th-borderheading">
							<h3>Recent Posts</h3>
						  </div>
						  <ul class="th-recentpost">
							<li>
							  <figure><a href="#"><i><img src="/web_salamun/themes/hospital/assets/images/thumbnails/img-01.png" alt="image description"></i></a></figure>
							  <div class="th-shortcontent">
								<time datetime="2011-01-12">Oct 23 - 2016</time>
								<p>The movie star the professor and ann here on</p>
							  </div>
							</li>
							<li>
							  <figure><a href="#"><i><img src="/web_salamun/themes/hospital/assets/images/thumbnails/img-02.png" alt="image description"></i></a></figure>
							  <div class="th-shortcontent">
								<time datetime="2011-01-12">Nov 23 - 2016</time>
								<p>The movie star the professor and ann here on</p>
							  </div>
							</li>
							<li>
							  <figure><a href="#"><i><img src="/web_salamun/themes/hospital/assets/images/thumbnails/img-03.png" alt="image description"></i></a></figure>
							  <div class="th-shortcontent">
								<time datetime="2011-01-12">Dec 23 - 2016</time>
								<p>The movie star the professor and ann here on</p>
							  </div>
							</li>
						  </ul>
						</div>
					  </div>
					</div>
				  </div>
				</div>
			  </div>
			  <div class="th-footerbottombar">
				<div class="container">
				  <div class="row">
					<div class="col-sm-12 col-xs-12">
					  <span class="th-copyright">Copyrights &copy;  2017 RSAU dr. M. Salamun</span>
											</div>
				  </div>
				</div>
			  </div>
			</footer>
			<!--************************************
				Footer End
			*************************************-->
			</div>
			<!--************************************
			  Wrapper End
			*************************************-->

	<script src="/web_salamun/themes/hospital/assets/js/vendor/jquery-library.js"></script>
	<script src="/web_salamun/themes/hospital/assets/js/vendor/bootstrap.min.js"></script>
	<script src="/web_salamun/themes/hospital/assets/js/moment-with-locales.js"></script>
	<script src="/web_salamun/themes/hospital/assets/js/bootstrap-datetimepicker.min.js"></script>
	<script src="https://maps.google.com/maps/api/js?key=AIzaSyCR-KEWAVCn52mSdeVeTqZjtqbmVJyfSus&amp;language=en"></script>
	<script src="/web_salamun/themes/hospital/assets/js/owl.carousel.min.js"></script>
	<script src="/web_salamun/themes/hospital/assets/js/finalcountdown.js"></script>
	<script src="/web_salamun/themes/hospital/assets/js/jquery.countTo.js"></script>
	<script src="/web_salamun/themes/hospital/assets/js/isotope.pkgd.js"></script>
	<script src="/web_salamun/themes/hospital/assets/js/parallax.min.js"></script>
	<script src="/web_salamun/themes/hospital/assets/js/prettyPhoto.js"></script>
	<script src="/web_salamun/themes/hospital/assets/js/appear.js"></script>
	<script src="/web_salamun/themes/hospital/assets/js/gmap3.js"></script>
	<script src="/web_salamun/themes/hospital/assets/js/themefunction.js"></script>
	<script type="text/javascript" src="/web_salamun/assets/eed691c5/listview/jquery.yiilistview.js"></script>
<script type="text/javascript">
/*<![CDATA[*/
jQuery(function($) {
jQuery('[data-toggle=popover]').popover();
jQuery('[data-toggle=tooltip]').tooltip();
jQuery('#yw0').yiiListView({'ajaxUpdate':['yw0'],'ajaxVar':'ajax','pagerClass':'pagination','loadingClass':'list\x2Dview\x2Dloading','sorterClass':'sorter','enableHistory':false,'afterAjaxUpdate':function() {
			jQuery('.popover').remove();
			jQuery('[data-toggle=popover]').popover();
			jQuery('.tooltip').remove();
			jQuery('[data-toggle=tooltip]').tooltip();
		}});
jQuery('body').on('click','#yt0',function(){jQuery.ajax({'type':'post','data':'_lang\x3Den\x26YII_CSRF_TOKEN\x3DQmZYNnhPSWphUmtqQkNyY1JremhGM0JTTUticE16ZUVPknmC926Lo81sMmKBVcVtmqwTlNK7aqa7zY7XZT_sBw\x3D\x3D','success':function(data) {window.location.reload();},'url':'\x2Fweb_salamun\x2Findex.php\x3Fr\x3Dsite\x2FnewsList\x26category\x3D1','cache':false});return false;});
});
/*]]>*/
</script>
</body>
</html>
